*,
*:after,
*:before {
  box-sizing: inherit;
  outline: none;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  --main-color: #2b2a2c;
  --main-bg-color: white;
}

body {
  min-width: 300px;
  background-color: #fff;
  margin: 0;
  background-image: url(https://avatars.mds.yandex.net/i?id=4d15a4f5cf2a56e53f73f4f6d62301b9_l-5354312-images-thumbs&n=13);
  background-size: cover;
  background-position: 50%;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

h2 {
  font-weight: bold;
  font-size: 4em;
  padding-top: 3em;
  padding-bottom: 1em;
}


p {
  margin: 0;
  padding: 0;
  text-align: justify;
  text-indent: 3em;
}

/* Карта */

.belarus-map__wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto 200px;
}

.belarus__map {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 6em; 
  }
  
  .main-map {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .map__warp {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  
  .main-map__region {
    stroke: #ffffff;
  }
  
  .main-map__region:hover {
    transition: .5s;
  }
  
  .main-map__Brest {
    fill: rgb(219, 226, 131);
  }
  
  .main-map__Gomel {
    fill: rgb(255, 247, 177);
  }
  
  .main-map__Mogilev {
    fill: rgb(251, 217, 202);
  }
  
  .main-map__Vitebsk {
    fill: rgb(210, 205, 231); 
  }
  
  .main-map__Grodno {
    fill: rgb(253, 213, 165);
  }
  
  .main-map__Minsk {
    fill: rgb(245, 180, 210);
  }
  
  .main-map__Brest:hover {
    fill: rgb(213, 223, 82);
  }
  
  .main-map__Gomel:hover {
    fill: rgb(245, 231, 108);
  }
  
  .main-map__Mogilev:hover {
    fill: rgb(241, 181, 155);
  }
  
  .main-map__Vitebsk:hover {
    fill: rgb(170, 161, 211); 
  }
  
  .main-map__Grodno:hover {
    fill: rgb(231, 176, 108);
  }
  
  .main-map__Minsk:hover {
    fill: rgb(233, 147, 187);
  }
  
  .main-map__city:hover {
    transition: .5s;
    r: 1.2em;
  }
  
  .main-map__City-of-Minsk:hover {
    transition: .5s;
    r: 1.5em;
  }
  
  .main-map__city_Baranovichi:hover {
    r: 1em;
  }
  
  .main-map__city {
    fill: red;
  }
  
  .main-map__city-name {
    font-weight: bold;
    stroke: none;
    color: #181818;
    font-size: 1,2em;
  }
  
  .main-map__tooltip {
    display: none;
    padding: 0.8em; 
    width: 22em;
    min-height: 10em;
    position: absolute;
    background-color: rgba(230, 230, 230, 0.7);
    color: rgb(0, 0, 0);
    z-index: 2;
  }
  
  .main-map__tooltip img {
    display: block;
    margin: 0 auto;
    height: 9em;
  }
  
  .main-map__tooltip ul {
    padding: 0;
    padding-left: 1.4em;
    margin-bottom: 0;
  }
  
  .main-map__tooltip p, 
  .main-map__tooltip li {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
  }
  
  .baranovichi-circle circle {
    stroke: #ffffff;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .region-of-Belarus {
    display: none;
    transition: 1s;
    width: 100%;
    min-height: 1080px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size: cover;
    color: white;
    z-index: 0;
    font-size: 20px;
    line-height: 1.6;
  }
  
  .region-of-Belarus_warp {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-bottom: 4em;
  }  
  
  .region__img {
    width: 90%;
    margin: 0 auto;
  }
  
  .region__map_img {
    display: block;
    margin: 0 auto;
  }
  
  .region-of-Belarus ul {
    padding: 0;
    margin-left: 3em;
  }
  
  .close-region {
    margin: 1em 0 0 auto;
  }
  
  .close-region_svg {
    width: 4rem;
    height: 4rem;
    fill: rgba(50, 55, 159, 0.9);
    border: 0.2em solid rgba(50, 55, 159, 0.9);
    border-radius: 50%;
  }
  
  .close-region_svg polyline {
    stroke: rgba(255, 255, 255, 0.9);
    stroke-width: 0.2em;
  }
  
  .close-region_svg:hover {
    transition: 0.3s;
    stroke-width: 0.2em;
    fill: rgba(255, 255, 255, 0.9);
    stroke:rgba(50, 55, 159, 0.8); 
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.9);
  }
  
  .close-region_svg:hover > polyline {
    stroke:rgba(50, 55, 159, 0.8); 
  }
  
  /* БРЕСТСКАЯ ОБЛАСТЬ */
  
  .Brest-region {
    background-image:url(../img/region/background/brest-background.png);
  }
  
  .region__map__city_Brest:hover {
    r: 1.8em;
  }
  
  .region__map_city-name {
    font-size: 1.7em;
  }
  
  .region__map__city-name_Baranivi {
    font-weight: normal;
    font-size: 1.2em;
  }
  
  .brest-region__map_region {
    stroke:white;
    stroke-width: 3px;
    fill: rgb(252, 225, 135);
    stroke-miterlimit: 10;
  }
  
  .brest-region__map_region:hover {
    transition: .3s;
    fill: rgb(255, 220, 105);
  }
  
  .region-map__tooltip {
    display: none;
    position: absolute;
    padding: 0.6em; 
    width: 18em;
    min-height: 10em;
    background-color: rgba(230, 230, 230, 0.7);
    color: rgb(0, 0, 0);
    z-index: 2;
  }
  
  .region-map__tooltip img {
    display: block;
    margin: 0 auto;
    height: 7em;
  }
  
  .region-map__tooltip ul {
    padding: 0;
    margin: 0;
    margin-left: 1em;
  }
  
  .region-map__tooltip p, 
  .region-map__tooltip li {
    text-indent: 1.5em;
    font-size: 0.7em;
    padding: 0;
    margin: 0;
  }
  
  .Gomel-region {
    background-image: url(../img/region/background/gomel-background.png);
  }
  
  .Mogilev-region {
    background-image: url(../img/region/background/mogilev-background.png);
  }
  
  .Vitebsk-region {
    background-image: url(../img/region/background/vitebsk-background.png);
  }
  
  .Grodno-region {
    background-image: url(../img/region/background/grodno-background.png);
  }
  
  .Minsk-region {
    background-image: url(../img/region/background/minsk-background.png);
  }